@import "@heroui/styles";

@source "../src";
@source "../node_modules/@heroui/react/dist";
@source "../node_modules/@heroui/styles/dist";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

@layer theme {
  .dark {
    --background: #060607;
  }
}
